<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            body {background-color: rgb(17, 85, 17);}
            body {color: aliceblue;}
            button {background-color: lightgreen; }
            h1,h2 {font-style: oblique;}
            
        </style>
        <h1>Profilo di {{dati["Nome"]}} {{dati["Cognome"]}}</h1>
        <h2>Scuola: {{dati["Scuola"]}}</h2>
        <h2>Hobby: {{dati["Hobby"]}}</h2>
        
        <a href="{{ url_for('prenotazione') }}">Aggiungi prenotazione</a>
        <a href="{{ url_for('prenotazione') }}">Modifica il profilo</a>
    </body>
</html>